table, tr, th, td{
    border: 1px solid blue;
    border-collapse: collapse;
    text-align: center;
}
#header{
    font: Sansarif;
    color: burlywood;
    background: darkorchid;
    text-align: center;
}
#table{
    font: Sansarif;
    color: darkolivegreen;
    background: lightsalmon;
    text-align: center;
}
